@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --lumau-input-error-border: #ef4444;
  --lumau-input-error-color: #ef4444;

  --bg-color: #f1f5f9; /* slate-100 */
  --header-bg-color: #e2e8f0; /* slate-200 */
  --dark-header-bg-color: #0f172a; /* slate-900 */
  --dark-bg-color: #1e293b; /* slate-800 */
  --text-color: #0f172a; /* slate-900 */
  --dark-text-color: #cbd5e1; /* slate-300 */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1400px;
  min-height: 100vh;
}

.dark {
  --lumau-input-background-color: #334155;
  --lumau-input-border-color: #6b7280;
  --lumau-input-text-color: #d1d5db;
}

.light {
  --lumau-input-background-color: #f1f5f9;
  --lumau-input-border-color: #111827;
  --lumau-input-text-color: #111827;
}

.lumau-input[dark] {
  --lumau-input-background-color: #334155;
  --lumau-input-border-color: #6b7280;
  --lumau-input-text-color: #d1d5db;
}

.lumau-input[light] {
  --lumau-input-background-color: #f1f5f9;
  --lumau-input-border-color: #111827;
  --lumau-input-text-color: #111827;
}

.lumau-input[large] {
  --lumau-input-padding-y: 1rem;
}

.lumau-input[medium] {
  --lumau-input-padding-y: 0.8rem;
}

.lumau-input[small] {
  --lumau-input-padding-y: 0.5rem;
}

.animation {
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.transition-width {
  transition: width 0.5s;
}

.transition-height {
  transition: height 0.8s;
}

.grid-layout {
  grid-template-rows: auto minmax(0, 1fr);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.3s;
}

.input-form {
  @apply bg-text-color w-full rounded border py-1 px-2 disabled:bg-slate-200;
}

.label-form {
  @apply text-sm;
}

.error__form {
  @apply absolute top-0 w-full text-red-700 bg-red-100 bg-opacity-50 px-5 text-sm;
}

.input__form {
  @apply min-h-[auto] w-full rounded border border-slate-600 bg-transparent py-[0.15rem] px-3 leading-[1.6] text-slate-900 outline-none block focus:outline-none focus:ring-0 focus:border-slate-900;
}

.label__form {
  @apply absolute text-slate-600 duration-300 transform -translate-y-[1.50rem] scale-90 top-[0.25rem] z-10 origin-[0_0] left-3 mb-0 peer-focus:text-slate-600 peer-focus:scale-90 peer-focus:-translate-y-[1.50rem] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100;
}

.table__icon {
  @apply border-none bg-none cursor-pointer text-lg p-2.5 rounded-full;
}

.table__icon--edit {
  @apply text-blue-500 hover:bg-blue-50;
}

.table__icon--delete {
  @apply text-red-500 hover:bg-red-50;
}

.table__icon--add {
  @apply text-teal-500 hover:bg-teal-50;
}

.btn-cancel {
  @apply text-gray-900 dark:text-slate-100 bg-slate-200 dark:bg-gray-800 p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded transition ease-in-out delay-100;
}

.btn-confirm {
  @apply p-2 bg-violet-800 rounded text-slate-100 transition ease-in-out delay-100 hover:bg-purple-800/70 hover:cursor-pointer;
}

.btn-icon {
  @apply rounded-full hover:bg-gray-300 dark:hover:bg-gray-700 leading-none p-1.5 hover:cursor-pointer;
}

.bg-text-color {
  @apply text-text-color dark:text-dark-text-color bg-bg-color dark:bg-dark-bg-color;
}

.title-modal {
  @apply text-text-color pt-2 text-center text-xl font-bold shadow-md shadow-slate-800;
}

/*   Tabs   */
.tabs__container {
  @apply flex flex-col relative w-full bg-slate-300 break-words border border-solid border-gray-500 dark:bg-slate-800;
}
.tabs__bloc {
  @apply flex;
}
.tabs {
  @apply relative p-[15px] text-base text-center w-1/2 text-slate-800 bg-gray-200 cursor-pointer border-b border-solid border-gray-500 outline-0 flex items-center justify-center gap-4 dark:bg-slate-700 dark:text-slate-100;
}
.tabs:not(:last-child) {
  @apply border-r border-solid border-r-slate-950 dark:border-slate-300;
}
.active__tabs {
  @apply bg-white dark:bg-slate-800 border-b border-solid border-transparent;
}
.active__tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #5b21b6;
}
.tabs__content {
  @apply grow bg-white dark:bg-slate-800;
}
.tab__content {
  @apply bg-white dark:bg-slate-800 pb-5 py-0 px-5 w-full h-full hidden;
}
.tab__content h2 {
  @apply pb-1 pt-0 px-0;
}
.tab__content hr {
  @apply w-full h-0.5 bg-gray-800 mb-1;
}
.active__content {
  @apply block;
}

.grid__image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2em 2em;
}

.dz-image {
  @apply relative;
}

.dz-remove {
  @apply absolute top-3 right-36 bg-red-500 text-slate-100;
}

.dz-preview {
  height: 150px;
}
